# Byte-compiled / optimized
__pycache__/
*.py[cod]
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Credentials & secrets
*.nk
*.creds
.env
.env.*
